@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard Variable';
}
body::-webkit-scrollbar {
  display: none;
}
main {
  min-height: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
  color: #333;
}

.row {
  display: flex;
  flex-direction: row;
}
.center {
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
}